/*ナビゲーション*/
.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  background-color: white;
  height: 50px;
  z-index: 1;
}
.title {
  margin-left: 20px;
  width: 100%;
  font-size: 2rem;
}
.navigationBar {
  float: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
  color: black;
  font-size: 2.5vw;
}
.nav {
  margin: 0 10px;
  color: black;
  text-decoration: none;
  font-size: 1.5rem;
}
/*背景イメージ*/
.top-image {
  position: relative;
}
.top-image p {
  position: absolute;
  top: 50%;
  left: 50%;
  margin:0;
  padding:0;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
  -ms-transform: translate(-50%,-50%);
  font-size: 6vw;
}
/*ボディ*/
.contents {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.section-title {
  padding-top: 50px;
  width: 100%;
  font-size: 2rem;
}

/*About*/
.profile{
  display: flex;
  padding: 50px;
}
.icon-bo{
  width: 100%;
}
.profile-icon {
  position:relative;
  overflow: hidden;
  width:250px;
  height:250px;
  border-radius:50%;
}
.profile-icon img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  height:100%;
}
.profile-text {
  margin-left: 70px;
  width: 100%;
}

/*Skill*/
.skills {
  display: flex;
  text-align: center;
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.skill {
  margin: 20px;

}

/*Portfolio*/
.portfolios {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 100%;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio {
  margin: 20px auto;
  width: 20rem;
  max-width: 400px;
  position: relative;
  padding: 0px 10px;
}
.portfolio-image {
  width: 100%;
  height: 300px;
  overflow: hidden;
}
.portfolio-title {
  font-size: 20px;
}
.explanation-title {
  margin-top: 10px;
  font-weight: bold;
}
.external-text {
  color: rgb(176, 176, 176);
  font-weight: bold;
}

/*Contact*/
.contact {
  padding: 50px;
}
a.fab {
  margin: 30px;
  transform: translateY(-50%);
  font-size: 1.5em;
}

.fab.fa-github {
  color: black;
  text-decoration: none;
}
.fab.fa-instagram {
  color: black;
  text-decoration: none;
}
.fab.fa-twitter {
  color: black;
  text-decoration: none;
}
.fab.fa-facebook {
  color: black;
  text-decoration: none;
}
.fab.fa-linkedin-in {
  color: black;
  text-decoration: none;
}
a.fas {
  margin: 30px;
  transform: translateY(-50%);
  font-size: 1.5em;
}
.fas.fa-envelope {
  color: black;
  text-decoration: none;
}

.space {
  margin-top: 10px;
}

@media screen and (max-width:750px){
  .title {
    font-size: 1.5rem;
  }
  .profile{
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .profile-icon {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    margin-left: 30%;
  }
  .profile-text {
    margin-top: 30px;
    margin-left: 0px;
  }
}
