.header {
  position: fixed;
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}
.title {
  margin-left: 10px;
  width: 100%;
  font-size: 2rem;
}
.navigationBar {
  float: right;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 40px;
}
.nav {
  margin: 0 10px;
}
.contents {
  padding-top: 40px;
}

@media screen and (max-width:750px){
  .title {
    font-size: 1.5rem;
  }
}
